In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [3]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"]=="Thomas High School")&(student_data_df["grade"]=="9th"),"reading_score"]=np.nan
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79
1,1,Victor Smith,M,12th,Huang High School,94.0,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60
3,3,Richard Scott,M,12th,Huang High School,67.0,58
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [4]:
test_counter=
test_counter

SyntaxError: invalid syntax (<ipython-input-4-9dcb9487c54c>, line 1)

In [ ]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["school_name"]=="Thomas High School")&(student_data_df["grade"]=="9th"),"math_score"]=np.nan
student_data_df

In [ ]:
#  Step 4. Check the student data for NaN's.
student_data_df.tail(10)

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.loc[(school_data_complete_df["school_name"]=="Thomas High School")&(school_data_complete_df["grade"]=="9th"),:]

In [ ]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [ ]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [ ]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades.
thomas_9th_count=student_data_df.loc[(student_data_df["school_name"]=="Thomas High School")&(student_data_df["grade"]=="9th"),:].count()["student_name"]
# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()
student_count
# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
new_student_count=student_count-thomas_9th_count
new_student_count

In [ ]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
print(passing_math_count)
print(passing_reading_count)

In [ ]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage=passing_math_count/new_student_count*100
passing_reading_percentage=passing_reading_count/new_student_count*100
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage=overall_passing_math_reading_count/new_student_count*100
overall_passing_percentage

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": new_student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df.head(20)

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
thomas_other_count=school_data_complete_df.loc[(school_data_complete_df["school_name"]=="Thomas High School")&(school_data_complete_df["grade"]!="9th"),:].count()["student_name"]
thomas_other_count

In [ ]:
# Step 6. Get all the students passing math from THS
ths_passing_math=school_data_complete_df.loc[(school_data_complete_df["school_name"]=="Thomas High School")&(school_data_complete_df["math_score"]>=70),:].count()["student_name"]
ths_passing_math

In [ ]:
# Step 7. Get all the students passing reading from THS
ths_passing_reading=school_data_complete_df.loc[(school_data_complete_df["school_name"]=="Thomas High School")&(school_data_complete_df["reading_score"]>=70),:].count()["student_name"]
ths_passing_reading

In [ ]:
# Step 8. Get all the students passing math and reading from THS
ths_passing_math_reading=school_data_complete_df.loc[(school_data_complete_df["school_name"]=="Thomas High School")&(school_data_complete_df["math_score"]>=70)&(school_data_complete_df["reading_score"]>=70),:].count()["student_name"]
ths_passing_math_reading

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
ths_passing_math_percent=ths_passing_math/float(thomas_other_count)*100
ths_passing_math_percent

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
ths_passing_reading_percent=ths_passing_reading/float(thomas_other_count)*100
ths_passing_reading_percent

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School.
ths_overall_passing=ths_passing_math_reading/float(thomas_other_count)*100
ths_overall_passing

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.at["Thomas High School","% Passing Math"]=ths_passing_math_percent
per_school_summary_df

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.at["Thomas High School","% Passing Reading"]=ths_passing_reading_percent
per_school_summary_df

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.at["Thomas High School","% Overall Passing"]=ths_overall_passing
per_school_summary_df

In [ ]:
per_school_summary_df

In [ ]:
# Sort and show top five schools.
top_schools_clean=per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)
top_schools_clean.head(5)

In [ ]:
# Sort and show bottom five schools.
top_schools_clean.tail(5)

In [ ]:
# Create a Series of scores by grade levels using conditionals.
ninth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="9th")]
tenth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="10th")]
eleventh_graders=school_data_complete_df[(school_data_complete_df["grade"]=="11th")]
twelfth_graders=school_data_complete_df[(school_data_complete_df["grade"]=="12th")]

# Group each school Series by the school name for the average math score.
ninth_grade_math_scores=ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores=tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores=eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores=twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores=ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores=tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores=eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores=twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
# Combine each Series for average math scores by school into single data frame.
per_school_math=pd.DataFrame({
    "9th":ninth_grade_math_scores,
    "10th":tenth_grade_math_scores,
    "11th":eleventh_grade_math_scores,
    "12th":twelfth_grade_math_scores})
per_school_math

In [ ]:
# Combine each Series for average reading scores by school into single data frame.
per_school_reading=pd.DataFrame({
    "9th":ninth_grade_reading_scores,
    "10th":tenth_grade_reading_scores,
    "11th":eleventh_grade_reading_scores,
    "12th":twelfth_grade_reading_scores})
per_school_reading

In [ ]:
# Format each grade column.
per_school_math["9th"]=per_school_math["9th"].map("{:.1f}".format)
per_school_math["10th"]=per_school_math["10th"].map("{:.1f}".format)
per_school_math["11th"]=per_school_math["11th"].map("{:.1f}".format)
per_school_math["12th"]=per_school_math["12th"].map("{:.1f}".format)

per_school_reading["9th"]=per_school_reading["9th"].map("{:.1f}".format)
per_school_reading["10th"]=per_school_reading["10th"].map("{:.1f}".format)
per_school_reading["11th"]=per_school_reading["11th"].map("{:.1f}".format)
per_school_reading["12th"]=per_school_reading["12th"].map("{:.1f}".format)

In [ ]:
# Remove the index.
per_school_math.index.name = None


# Display the data frame
per_school_math

In [ ]:
## Remove the index.
per_school_reading.index.name = None

# Display the data frame
per_school_reading

In [ ]:
# Establish the spending bins and group names.
bins=[0,585,630,645,675]
bin_names=["<$584","$585-629","$630-644","$645-675"]

# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"]=pd.cut(per_school_capita,bins,labels=bin_names)
per_school_summary_df

In [ ]:
# Calculate averages for the desired columns. 
spending_math_scores=per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores=per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math=per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading=per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending=per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
overall_passing_spending

In [ ]:
# Create the DataFrame
spending_summary_df=pd.DataFrame({
    "Average Math Score":spending_math_scores,
    "Average Reading Score":spending_reading_scores,
    "% Passing Math":spending_passing_math,
    "% Passing Reading":spending_passing_reading,
    "% Overall Passing":overall_passing_spending})
spending_summary_df

In [ ]:
# Format the DataFrame 
spending_summary_df["Average Math Score"]=spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"]=spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"]=spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"]=spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"]=spending_summary_df["% Overall Passing"].map("{:.0f}".format)
spending_summary_df

In [ ]:
# Establish the bins.
size_bins=[0,1000,2000,5000]
group_names=["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]
# Categorize spending based on the bins.
per_school_summary_df["School Size"]=pd.cut(per_school_summary_df["Total Students"],size_bins,labels=group_names)
per_school_summary_df

In [ ]:
# Calculate averages for the desired columns.
size_math_scores=per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores=per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math=per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading=per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing=per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame.
size_summary_df=pd.DataFrame({
    "Average Math Score":size_math_scores,
    "Average Reading Score":size_reading_scores,
    "% Passing Math":size_passing_math,
    "% Passing Reading":size_passing_reading,
    "% Overall Passing":size_overall_passing})
size_summary_df

In [ ]:
# Format the DataFrame  
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)
size_summary_df

In [ ]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})
type_summary_df

In [ ]:
# # Format the DataFrame 
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)
type_summary_df